<%- include('partials/header'); -%>

<%- include('partials/navbar-admin'); -%>

<main class="container pt-4">

    <% if (inquiries.length === 0) { %>
    <div class="p-5 bg-light rounded">
        <h2>No Inquiries</h2>
        <p>All inquiries has been proccessed.</p>
    </div>
    <% } %>

    <% inquiries.forEach(function(inquiry){ %>

        <div class="m-3 p-4 bg-light rounded">
            <div class="row">
                <div class="col-md-8 p-3">
                    <p>
                        <i class="fas fa-user"></i>
                        <%= inquiry.name %> 
                    </p> 
                    <p> 
                        <i class="fas fa-envelope"></i>
                        <%= inquiry.email %> 
                    </p>
                    <p> 
                        <i class="fas fa-comment"></i>
                        <%= inquiry.message %>
                    </p>
                </div>
                
                <div class="col-md-4 p-3">
                    <p>
                        Received on: <%= inquiry.created_on.toISOString().split('T')[0] %> 
                    </p> 
                    <p> 
                        <a class="w-75 btn btn-outline-primary btn-sm" href="mailto:<%=inquiry.email%>">
                            <i class="fas fa-reply"></i> Reply via Email
                        </a>
                    </p>
                    <form action="/admin/inquiries/process/<%= inquiry._id %>" method="POST">
                        <button class="w-75 btn btn-outline-success btn-sm" type="submit"><i class="far fa-check-circle"></i> Mark Proccessed</button>
                    </form>
                </div>

            </div>
        </div>

    <% }) %>
    

</main>

<%- include('partials/footer'); -%>