<%- include('partials/header'); -%>

<%- include('partials/navbar-admin'); -%>

<main class="container pt-5">

    <% if (leases.length === 0) { %>
        <div class="p-5 bg-light rounded">
            <h2>No Lease</h2>
            <p>There isn't any lease yet.</p>
        </div>
        <% } else { %>

    <div class="table-responsive">
        <table class="table table-hover align-middle mb-4">
            <thead class="table-light">
                <tr>
                    <th scope="col">Room</th>
                    <th scope="col">Tenants</th>
                    <th scope="col">Status</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>

                <% leases.forEach(function(lease) { %>
                    <tr>
                        <td><%=lease.apartment.roomNumber%></td>
                        <td><%=lease.tenants.firstName%> <%=lease.tenants.lastName%></td>
                        <td><%=lease.status%></td>
                        <td><%=lease.startDate.toISOString().split('T')[0] %></td>
                        <td><%=lease.endDate.toISOString().split('T')[0] %></td>
                        <td>
                            <a class="m-1 btn btn-outline-success btn-sm" href="/admin/leases/<%=lease._id%>" role="button">Edit</a>
                        </td>
                    </tr>
                <% }) %>

            </tbody>
        </table>
    </div>

    <% } %>
    
</main>

<%- include('partials/footer'); -%>