<%- include('partials/header'); -%>

<%- include('partials/navbar-user'); -%>

<main class="container pt-5">

    <div class="pb-4">
        <a class="btn btn-outline-success btn-sm" href="/user/requests/create-request">
            Create New Request
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover align-middle mb-4">
            <thead class="table-light">
                <tr>
                    <th scope="col">Room</th>
                    <th scope="col">Request Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th> 
                </tr>
            </thead>
            <tbody>

                <% requests.forEach(function(request) { %>
                    <tr>
                        <td><%=request.apartment.roomNumber%></td>
                        <td><%=request.created_on.toISOString().split('T')[0] %></td>
                        <td><%=request.description%></td>
                        <td><%=request.status%></td>
                    </tr>
                <% }) %>

            </tbody>
        </table>
    </div>
    
</main>

<%- include('partials/footer'); -%>